include ../../../templates/head
append head
  style.
    h3 span{
      margin-right:10px;
    }

block main
   section#main-content
       section.wrapper.site-min-height
          .row
            .col-lg-9.main-chart
              .row.mtbox
                .col-md-2.col-sm-2.box0.col-md-offset-2
                  a(href='')
                    .box1
                      span.li_heart
                      h3 210
                    p 210 Active Members
                .col-md-2.col-sm-2.box0
                  a(href='')
                    .box1
                      span.li_calendar
                      h3 25
                    p 25 Active Trainers
                .col-md-2.col-sm-2.box0
                  a(href='')
                    .box1
                      span.li_vynil
                      h3 3
                    p 3 Active Classes
                .col-md-2.col-sm-2.box0
                  a
                    .box1
                      span.li_bubble
                      h3 0
                    p 0 Messages
              .row
                section.wrapper
                  aside.col-lg-12.mt
                    section.panel
                      .container-fluid
                        table.table.table-striped.table-advance.table-hover
                          h4
                            | Walk Ins
                            button.btn.btn-theme(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='.add-walkins-modal')
                              i.fa.fa-home
                              |  Add Walk in
                          thead
                            tr
                              th
                                i.fa.fa-user
                                |  Name
                              th
                                i.fa.fa-phone
                                |  Contact
                              th
                                i.fa.fa-edit
                                | Action
                          tbody      
                            tr
                              td NAME
                              td CONTACT
                              td
                                button#facility.btn.btn-info.btn-xs(data-toggle='modal', data-target='.add-facility-modal')
                                  i.fa.fa-shower
                                button#edit.btn.btn-success.btn-xs(data-toggle='modal', data-target='.edit-walkins-modal')
                                  i.fa.fa-edit
                                button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='')
                                  i.fa.fa-trash-alt
              .row
                section.wrapper
                  aside.col-lg-12.mt
                    section.panel
                      .panel-body
                        #calendar.has-toolbar
            .col-lg-3.ds
              h3 
                span.li_heart 
                |  Membership
              .desc
                .thumb
                  img.img-circle(src='assets/img/ui-divya.jpg', width='35px', height='35px', align='')
                .details
                  h6  Gold Membership
              .desc
                .thumb
                  img.img-circle(src='assets/img/ui-divya.jpg', width='35px', height='35px', align='')
                .details
                  h6  Silver Membership
              .desc
                .thumb
                  img.img-circle(src='assets/img/ui-divya.jpg', width='35px', height='35px', align='')
                .details
                  h6  Bronze Membership
              h3 
                span.li_calendar 
                |  Class List
              .desc
                .thumb
                  img.img-circle(src='assets/img/ui-divya.jpg', width='35px', height='35px', align='')
                .details
                  h6  Body Building
              .desc
                .thumb
                  img.img-circle(src='assets/img/ui-sherman.jpg', width='35px', height='35px', align='')
                .details
                  h6 Aerobics
              .desc
                .thumb
                  img.img-circle(src='assets/img/ui-danro.jpg', width='35px', height='35px', align='')
                .details
                  h6 General Training

.add-walkins-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Add Walk-ins used
      form(action='/freeze', method='POST')
        .modal-body
          .container-fluid
            .row
              .col-md-6
                .form-group
                  label.control-label Full Name
                  input.form-control(type="text" name="fname" placeholder='First Name')
              .col-md-6
                .form-group
                  label.control-labe(style="color:white") Full Name
                  input.form-control(type="text" name="lname" placeholder='Last Name')
            .row
              .col-md-12
                .form-group
                  label.control-label Contact
                  input.form-control(type="text" name="contact")
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Add Walkins

.edit-walkins-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Add Walk-ins used
      form(action='/freeze', method='POST')
        .modal-body
          .container-fluid
            .row
              .col-md-6
                .form-group
                  label.control-label Full Name
                  input.form-control(type="text" name="fname" placeholder='First Name')
              .col-md-6
                .form-group
                  label.control-labe(style="color:white") Full Name
                  input.form-control(type="text" name="lname" placeholder='Last Name')
            .row
              .col-md-12
                .form-group
                  label.control-label Contact
                  input.form-control(type="text" name="contact")
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Add Walkins


.add-facility-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Add Walk-ins used
      .modal-body
        .container-fluid
          table.table.table-advance.table-hover
            h4
              | Add Used Facilities
              a.btn.btn-theme(style='margin-left: 5px;' href='/facility')
                i.fa.fa-home
                |  Add Facility 
            thead 
              tr
                th
                  i.fa.fa-shower
                  |  Name
                th
                  i.fa.fa-edit
                  | Action
            tbody      
              tr
                td NAME
                td 
                  input(type="number" style='width:40px;!important')
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='submit') Save

include ../../../templates/foot.pug

 

