include ../../../templates/mem-head

block main   

  .container
    .content
      .row.mt
        .col-lg-12.mt
          section.panel
            .panel-body
              #calendar.has-toolbar

include ../../../templates/foot
