include ../../../templates/mem-head

block main   
  .container
    .content
      .row.centered
        h3
          strong ACTIVE EVENTS
        br
        .search-container
          form(action='#')          
            .container
              .col-md-2(style="position:relative; left:450px;")  
                input.form-control.t-search(type='text', name='search', placeholder='Search...' style="width:160px")
              .col-md-1(style="position:relative; left:450px;")  
                .form-control.btn-primary(style="width:40px; position:relative; left:-40px;")
                  i.fa.fa-search
        br
        br
        .col-lg-4.col-md-4.col-sm-4.mb
          .content-panel.pn(style="background-color:gray; padding:0; color:white; padding-top: 20px;")
            h3 KICK BOXING
            h6(style="margin:0!important") FITNESS TRAINER
            .btn-block.btn-primary(style="position:relative; top:45px; padding:5px; font-weight: bold;")
              i.fa.fa-search(style="padding-right:10px; ")
              | View
            .content-panel(style="margin:0!important; height: 90px; color:#797979;padding:6px 10px; position:relative; width:100%;top:45px;box-shadow:none; border-radius:0;")
              br
              h6(style="margin:0!important;") 
                b Other specialties include:
              | Bodybuilding, Taekwondo
      br
      br
      br

include ../../../templates/foot