include ../../../templates/mem-head

block main   
  .container
    .content
      .row.centered
        h3
          strong ACTIVE TRAINERS
        br
        .search-container
          form(action='#')          
            .container
              .col-md-2(style="position:relative; left:450px;")  
                input.form-control.t-search(type='text', name='search', placeholder='Search...' style="width:160px")
              .col-md-1(style="position:relative; left:450px;")  
                .form-control.btn-primary(style="width:40px; position:relative; left:-40px;")
                  i.fa.fa-search
        br
        br
        .col-lg-4.col-md-4.col-sm-4.mb
          .content-panel.pn(style="background-color:gray; padding:0; color:white; padding-top: 20px;")
            h3 TRAINER NAME
            h6(style="margin:0!important") SPECIALTY
            .btn-block.btn-primary(style="position:relative; top:45px; padding:5px; font-weight: bold;" 
            data-target='.apply-modal' data-toggle='modal')
              i.fa.fa-search(style="padding-right:10px; ")
              | View
            .content-panel(style="margin:0!important; height: 90px; color:#797979;padding:6px 10px; position:relative; width:100%;top:45px;box-shadow:none; border-radius:0;")
              br
              h6(style="margin:0!important;") 
                b Branch
              | A-team kungsan
      br
      br
      br

.apply-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='overflow: auto;')
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        button.close#return(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Trainer view Prompt
      form(action='POST', method='')
        .modal-body
          .container-fluid
            .row 
              .col-md-6
                center
                  img.img-fluid(src="/assets/img/ui-sherman.jpg", alt="img" width='100%')
              .col-md-6
                .form-group
                  h5 
                    b Name: 
                    | result
                  h5 
                    b Gender: 
                    | result
                  h5 
                    b Branch: 
                    | result
                  h5 
                    b Specialization: 
                    | result
                  h5 
                    b Work Days: 
                    | result
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          a.btn.btn-primary.a(data-toggle='modal' data-target='.prompt-modal') Apply

.prompt-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='overflow: auto;')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close#return(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Prompt
      form(action='POST', method='')
        .modal-body
          .container-fluid
            center
              .row 
                h5 Are you sure? 
              .row 
                button.btn.btn-primary(type='submit') Yes
                button.btn.btn-default(type='button' data-dismiss='modal') Close
              

include ../../../templates/foot
script.
  $('.a').click(function(){
    $('.apply-modal').modal('hide');
  });